.gaming-layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0a0a0f;
}

.gaming-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
